# Django settings
APP_DOMAIN=localhost:8000
APP_VERSION=1.2.3
MYBOOK_URL=my-bookings
DEBUG=False
LOGLEVEL=INFO
SECRET_KEY="Maktabiya-AladinStudioX"
ALLOWED_HOSTS=*
INTERNAL_IPS=127.0.0.1
LANGUAGE_CODE=en-us
TIME_ZONE=UTC
USE_TZ=True
USER_APP_LOG_LEVEL=INFO
DJANGO_APP_LOG_LEVEL=ERROR

# Admin Settings
CREATE_DEFAULT_ADMIN=True
DJANGO_SUPERUSER_EMAIL=admin@AladinStudioX.app
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_USERNAME=admin 

# DB SETTINGS
DB_ENGINE=postgres
DB_HOST=maktabiya-db
DB_NAME=maktabiya
DB_USERNAME=maktabiya
DB_PASS=maktabiya
DB_PORT=5432
# seconds unit
DB_CHECK_SLEEP_DURATION=900

# EMAIL SETTINGS 
EMAIL_HOST=maktabiya-mail-server
EMAIL_TIMEOUT=10
DEFAULT_FROM_EMAIL=no-reply@AladinStudioX.app
EMAIL_HOST_PASSWORD=
EMAIL_PORT=1025
EMAIL_USE_TLS=False

# Default App Settings
CREATE_DEMO_DATA=True